/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

header,
main {
    /* width: 81.25%; */
    max-width: 1170px;
    margin: 0 auto;
    min-height: 200px;
}

.common-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.common-description1 {
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.common-heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* banner styles */
header {
    border: 1px solid;
}

.banner {
    background-image: linear-gradient(180deg, #131318cc 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/bannerimage.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 50px;
}

.banner-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 40px;
}

.banner-heading {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 676px;
}

.inputs-container {
    max-width: 768px;
    background-color: #ffffff55;
    margin-top: 20px;
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
}

.inputs {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
}


select {
    padding: 16px;
    color: #13131880;
}

/* tour section styles */
.tours {
    border: 2px solid blueviolet;
    display: flex;
    gap: 53px;
    margin-top: 100px;
}

.tour-texts {
    max-width: 577px;
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ul-text {
    margin-left: 20px;
}

.ul-text ul li {
    margin-bottom: 16px;
}

.tour-img img {
    width: 100%;
    /* max-width: 540px; */
    /* height: 100%; */
}

/* destinetion styles */
.destinetion {
    margin-top: 100px;
}

.destinetion-heading {
    text-align: center;
}

.destinetion-heading p {
    max-width: 643px;
    margin: 0 auto;
}

.destinetion-img-container {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

.img-row-1 {
    display: flex;
    gap: 24px;
    /* justify-content: space-evenly; */
}

.img-row-2 {
    display: flex;
    gap: 24px;
}

.img-row-3 {
    display: flex;
    gap: 24px;
}

.destinetion-img-container img {
    width: 100%;
}

/* choose section styles */
.choose {
    margin-top: 100px;
    border: 2px solid pink;
}

.card {
    max-width: 573px;
    max-height: 284px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 32px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.card-container img {
    margin-bottom: 32px;
}

.card-container h4,
.newsletter-h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-double {
    display: flex;
    gap: 24px;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-paragraph {
    max-width: 643px;
    color: rebeccapurple;
    border: 2px solid pink;
    margin: 0 auto;
    margin-bottom: 48px;
}

.choose-title {
    text-align: center;
}

/* perfect place styles start */
.perfect-place {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.perfect-place-texts {
    max-width: 532px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfect-place-texts ul {
    margin-left: 20px;
    margin-bottom: 24px;
}

.parfect-place-img img {
    width: 100%;
    /* min-height: 424px; */
    height: auto;
    border-radius: 20px;
    
}

/* perfect place styles end */


/* .newsletter-section styles */

.newsletter {
    display: flex;
    gap: 24px;
    margin-top: 100px;
}

.newsletter-texts {
    max-width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    width: 100%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.subscribe {
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}










/* responsive styles */
/* responsive for mobile device */

@media screen and (max-width: 576px) {

    header,
    main {
        padding: 10px;
    }

    .inputs-container {
        flex-direction: column;
        gap: 16px;
    }

    .img-row-1,
    .img-row-2,
    .img-row-3,
    .card-double,
    .perfect-place,
    .tours {
        flex-direction: column;
    }

    .banner-texts {
        gap: 0;
    }

    .banner-heading {
        font-size: 30px;
    }

    .common-heading {
        font-size: 25px;
    }

    #banner-d {
        font-size: 14px;
    }

    .common-description,
    .common-description1 {
        font-size: 14px;
    }
    .newsletter{
        flex-direction: column-reverse;
    }
    .newsletter-texts{
        width: 95%;
        margin: 0 auto;
    }

}